.layoutUl{
    padding: 0.65em 1em;
    border-bottom: 2.5px solid #EA4329;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 32px;
    list-style-type: none;
    
    .gameName{
        color: #EA4329;
        font-weight: bold;
    }
    
    /* Logged in username div */
    .loggedUser{
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 28px;
    }
}