.accordion {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 750px;
  gap: 16px;
  transition: 0.3s;
  list-style: none;
  padding: 2.5% 0 0 0;
  margin: 0;
}

.accordion:hover {
  gap: 0;
}

.accordion li {
  position: relative;
  overflow: hidden;
  flex: 0 0 200px;
  border-radius: 50px;
  opacity: 0.75;
  cursor: pointer;
  transition: 0.3s;
}

.accordion li:hover {
  flex: 0 1 480px;
  scale: 1.1;
  z-index: 10;
  opacity: 1;
}

.link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 0.3s;
}

.content {
  position: absolute;
  inset: 0;
  z-index: 1;
  color: #fff;
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 70%) 10%,
    rgb(255 255 255 / 0%) 100%
  );
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.accordion li:hover .content {
  opacity: 1;
  visibility: visible;
}

.content h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  white-space: nowrap;
}

.content span {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50px;
  translate: -50%;
  scale: 0.85;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.accordion li:hover span {
  scale: 1;
  opacity: 1;
  visibility: visible;
}